.banner_container {
  width: calc(100vw - 8px);
  max-width: 1540px;
  height: calc(100vh - 80px);
}

.video_bg {
  display: flex;
  width: calc(100vw - 8px);
  max-width: 1540px;
  height: calc(100vh - 80px);
  position: absolute;
  z-index: -1;
}

.video_bg video {
  width: 100%;
  max-width: 1540px;
  object-fit: cover;
}

.banner_container .banner_overlay {
  background-color: #000000bd;
  height: calc(100vh - 80px);
  z-index: 1;
  width: calc(100vw - 8px);
  max-width: 1540px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 150px;
  box-sizing: border-box;
  position: absolute;
  color: white;
}

.banner_motto {
  opacity: 0;
  letter-spacing: 1.5px;
  word-spacing: 1px;
}

.load_animation_1 {
  font: 700;
  font-size: 50px;
  animation: banner_animation_1 1s ease 1s 1 forwards;
}

@keyframes banner_animation_1 {
  from {
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.load_animation_2 {
  margin: 10px 0;
  font-weight: 800;
  font-size: 55px;
  animation: banner_animation_2 1s ease 1.5s 1 forwards;
}

@keyframes banner_animation_2 {
  from {
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.load_animation_3 {
  font-weight: 900;
  font-size: 78px;
  animation: banner_animation_3 1s ease 2s 1 forwards;
}

@keyframes banner_animation_3 {
  from {
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
