.footer_container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1540px;
  height: auto;
  padding: 22px 0;
  background-color: #00358a;
}

.footer_container span {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 400px) {
  .footer_container span {
    font-size: 14px;
  }
}
